<a href="https://colab.research.google.com/github/vineeth-ksv/K-Nearest-Neighbour-Algorithm/blob/main/K_Nearest_Neighbour_Algorithm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# K-Nearest Neighbour Algorithm
 - Input data is indexed to find the closest neighbors.
 - Data is compared in the inferencing phase in save time.
 - Belongs to the category of lazy learners.

In [ ]:
!pip install numpy
!pip install pandas
!pip install sklearn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (1.21.6)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: sklearn in /usr/local/lib/python3.8/dist-packages (0.0.post1)

### Importing the dataset into a pandas DataFrame

In [ ]:
import numpy as np
import pandas as pd
import sklearn

column_names = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']
bos1 = pd.read_csv('housing.csv', delimiter=r"\s+", names = column_names)
bos1.head(10)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
5,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222.0,18.7,394.12,5.21,28.7
6,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311.0,15.2,395.60,12.43,22.9
7,0.14455,12.5,7.87,0,0.524,6.172,96.1,5.9505,5,311.0,15.2,396.90,19.15,27.1
8,0.21124,12.5,7.87,0,0.524,5.631,100.0,6.0821,5,311.0,15.2,386.63,29.93,16.5
9,0.17004,12.5,7.87,0,0.524,6.004,85.9,6.5921,5,311.0,15.2,386.71,17.10,18.9

### Preprocessing the data: Removing the NaN values

In [ ]:
bos1.isna().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

### Splitting model data with 70% as training

In [ ]:
from sklearn.model_selection import train_test_split
X = np.array(bos1.iloc[:,0:13])
Y = np.array(bos1["MEDV"])
#testing dataset is of 30% of entire data
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.30, random_state = 5)

### Using K-NN Algorithm

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor

lr = LinearRegression()
#train the model on training data
lr.fit(x_train, y_train)
#load the K-NN Model
Nn = KNeighborsRegressor(3)
Nn.fit(x_train, y_train)
pred_Nn = Nn.predict(x_test)

### Hyperparameter Tuning

In [ ]:
import sklearn

for i in range(1,50):
  model = KNeighborsRegressor(i)
  model.fit(x_train, y_train)
  pred_y = model.predict(x_test)
  mse = sklearn.metrics.mean_squared_error(y_test, pred_y, squared = False)
  print("{} error for k = {}".format(mse, i))

7.97154478854566 error for k = 1
7.159484875618533 error for k = 2
7.014927171138291 error for k = 3
7.004019640065342 error for k = 4
7.036131375752027 error for k = 5
7.103650686103268 error for k = 6
7.249246229196143 error for k = 7
7.278466403768686 error for k = 8
7.490296733721186 error for k = 9
7.573928228851226 error for k = 10
7.580880154071545 error for k = 11
7.620709624858009 error for k = 12
7.702433441773159 error for k = 13
7.745706188130712 error for k = 14
7.855546909761407 error for k = 15
7.970845764140948 error for k = 16
8.00708692880329 error for k = 17
8.05951400020052 error for k = 18
8.105972848197592 error for k = 19
8.171623447622684 error for k = 20
8.208766061680672 error for k = 21
8.266010100575647 error for k = 22
8.280897264278922 error for k = 23
8.326448746059764 error for k = 24
8.38105978099617 error for k = 25
8.410954693047014 error for k = 26
8.478704509976565 error for k = 27
8.50999986845734 error for k = 28
8.538275555508479 error for k = 29
8.57421797961705 error for k = 30
8.599468444172452 error for k = 31
8.616512206922689 error for k = 32
8.615421855795727 error for k = 33
8.6394479574174 error for k = 34
8.668090456321325 error for k = 35
8.710050513540338 error for k = 36
8.718258951585424 error for k = 37
8.73453661426121 error for k = 38
8.73394194177396 error for k = 39
8.738089791196538 error for k = 40
8.747832356642228 error for k = 41
8.756251724223462 error for k = 42
8.757243221295424 error for k = 43
8.77507943271184 error for k = 44
8.790125037827208 error for k = 45
8.812499208822205 error for k = 46
8.821646387484796 error for k = 47
8.828821656839208 error for k = 48
8.82175940968693 error for k = 49

### Model Evaluation

In [ ]:
mse_Nn = sklearn.metrics.mean_squared_error(y_test, pred_Nn, squared=False)
print("error for K-NN = {}".format(mse_Nn))

error for K-NN = 7.014927171138291